nav{
  height: 9vh;
}
.title{
  color: white;
  font-size: 24px;
  padding: 3px;
}
.creator{
  color: white;
  vertical-align: center;
  font-size: 15px;
  transform: translateY(-5px);
}
.after-nav{
  /* background-image: -webkit-linear-gradient(top, 
      rgba(0,0,0,0.9) 0%, 
      rgba(0,0,0,0) 20%,
      rgba(0,0,0,0) 80%,
      rgba(0,0,0,0.9) 100%
    ),
    -webkit-linear-gradient(left, 
      rgba(0,0,0,0.9) 0%, 
      rgba(0,0,0,0) 20%,
      rgba(0,0,0,0) 80%,
      rgba(0,0,0,0.9) 100%
    ), */
    /* url(./img/back.jpg); */
  /* background-size: cover;
  background-repeat: no-repeat; */
  height: 90vh;
  margin-bottom: 20px;
}
.head{
  color: black;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  padding-top: 90px;
  padding-bottom: 30px;
  text-align: center;
  margin-bottom: 10px;
  height: 130px;
}
#search-bar{
  height: 40px;
  width: 40vw;
  /* border-radius: 20px; */
  margin-left: 23%;
  margin-top: 2%;
  padding-left: 1%;
  background-color: transparent;
  border:black 1px solid;
  color: black;
}
.click{
 color: white;
 background-color: black;
 border: black 1px solid; 
 height: 39px;
 width: 7%;
 border-radius: 10px;
 margin-left: 10px;
}
.click i{
  color: white;
}
.click:hover{
  background-color: white;
  color: black;
  border: black 1px solid;
}
.click:hover>i{
  color: black;
}
.field{
  /* border: black 2px solid; */
  border-radius: 20px;
  /* height: 65vh; */
}
.data{
  background-color: white;
  border: black 2px solid;
  border-radius: 20px;
  width: 75%;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}
.load{
  display: none;
  padding: 5% 5%;
}
.def{
  padding: 5% 5% 2% 5%;
}
.audio{
  padding-bottom: 5%;
}
.not__found{
  display: none;
  transform: translateY(-50px);
}
.load,.def,.not__found{
  font-size: 22px;
  color: black;
}

@media (max-width:1200px){
  .click{
    display: block;
    margin: auto;
    width: auto;
    margin-top: 30px;
  }
  .audio{
    transform: scale(0.61);
    /* transform: translateX(-35%); */
  }
  .not__found{
    transform: translateY(-130%);
  }
  #search-bar{
    transform: translateX(11%);
  }
}
@media (max-width:467px){
  .audio{
    transform: scale(0.61) translateX(-6%);
  }
}
@media (max-width:421px){
  .audio{
    transform: scale(0.51) translateX(-20%);
  }
}
@media (max-width:421px){
  .head{
    padding-top: 0px;
  }
}
